{% extends 'base.html' %}

{% block content %}

<section class="older-posts section top-margin">
    <div class="container">
        <h2 class="title section-title" data-name="{{ request.user }} Comments">{{ request.user }} Comments</h2>
        <div class="older-posts-grid-wrapper d-grid">
            {% for comment in comment_list %}
            <div id="user_comments">

                    <div class="comment" >
                        <p>
                            <button class="comment_delete"><a href="{% url 'users:comment_delete' comment.id %}">Delete</a></button>
                            <h3>{{ comment.author }}</h3>
                            {{comment.content}}
                        </p>
                    </div>
            </div>

            {% endfor %}
        </div>
    </div>

    <div class="pagination center">
        <span class="step-links">

            {% if page_obj.has_previous %}
                <button class="del_button"><a href="?page=1">First</a></button>
                <button class="del_button edit_button"><a href="?page={{ page_obj.previous_page_number }}">Previous</a></button>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>

            {% if page_obj.has_next %}
                <button class="del_button edit_button"><a href="?page={{ page_obj.next_page_number }}">Next</a></button>
                <button class="del_button "><a href="?page={{ page_obj.paginator.num_pages }}">Last</a></button>
            {% endif %}
        </span>
    </div>

</section>

{% endblock %}