{% extends 'base.html' %}

{% block content %}

<section class="older-posts section top-margin">
    <div class="container">
        <h2 class="title section-title" data-name="Archive">Archive</h2>
        <div class="older-posts-grid-wrapper d-grid">

            {% for post in post_list %}
            <a href="{% url 'blog:post' pk=post.pk %}" class="article d-grid">
                <div class="older-posts-article-image-wrapper">
                    <img src="./media/{{post.header_image}}" alt="" class="article-image">
                </div>

                <div class="article-data-container">
                    <div class="article-data">
                        <span>{{ post.published_Date|date:"M d, Y" }} </span>
                        <span class="article-data-spacer"></span>
                        <span>{{ post.like }} Likes</span>
                      
                    </div>
                    <h3 class="title article-title">
                        {{ post.title }}
                    </h3>
                    <p class="article-description">
                        {{ post.summary }}
                    </p>
                    <!-- <h3>Author: {{ post.author }}</h3> -->
                </div>
           
            </a>
            {% endfor %}
        </div>
    </div>

    <div class="pagination center">
        <span class="step-links">

            {% if page_obj.has_previous %}
                <button class="del_button"><a href="?page=1">First</a></button>
                <button class="del_button edit_button"><a href="?page={{ page_obj.previous_page_number }}">Previous</a></button>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>

            {% if page_obj.has_next %}
                <button class="del_button edit_button"><a href="?page={{ page_obj.next_page_number }}">Next</a></button>
                <button class="del_button "><a href="?page={{ page_obj.paginator.num_pages }}">Last</a></button>
            {% endif %}
        </span>
    </div>
</section>

{% endblock %}