{% extends 'base.html' %}

{% block content %}
<!-- Blog post -->
<section class="blog-post section-header-offset">
    <div class="blog-post-container container">

        <div class="blog-post-data">
            <h3 class="title blog-post-title">{{ post.title }}</h3>
            <div class="article-data">
                <span>{{ post.published_Date|date:"M d, Y" }} </span>
                <span class="article-data-spacer"></span>
                <span>{{ post.like }} Likes</span>
            </div>
            <img src="/media/{{post.header_image}}" alt="">
        </div>

        <div class="container">
            {{ post.content|safe|linebreaksbr }}
           

            <blockquote class="quote">
                <p>
                    <span><i class="ri-double-quotes-l"></i></span>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                        Debitis eius possimus hic eligendi distinctio rerum incidunt,
                        esse quasi eum molestiae ducimus ipsam quae,
                        aliquid ullam placeat dolorum nulla vero.
                    <span><i class="ri-double-quotes-r"></i></span>
                </p>
            </blockquote>

            {% if author_permission %}
            <div>
            <button class="del_button"><a href="{% url 'blog:post_delete' post.id %}">Delete</a></button>
            <button class="del_button edit_button"><a href="{% url 'blog:post_update' post.id %}">Edit</a></button>
            </div>
            
            {% endif %}
            <div class="author d-grid">
                <div class="author-image-box">
                    <img src="./assets/images/author.jpg" alt="" class="article-image">
                </div>

                <div class="author-about">
                    <h3 class="author-name">John Doe</h3>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                        Debitis eius possimus hic eligendi distinctio rerum incidunt,
                        
                    </p>

                    
                </div>
            </div>
        </div>

    </div>
</section>

{% endblock %}